.Portfolio
{
    position: relative;
    .Progress
    {
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        color: orange;  
        font-size: 36px;

       z-index: 100;

        .progressBar
        {
            height: 5px;
            background-color: white;
        }

    }

    .container
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        top: 3%;

        .imageConainer{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 80%;
            }
           
        }

        .textConainer{

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            gap:40px;
            
            li{

                margin-bottom: 40px;
            }
            .details{
                
                width: 100%;
                
            }

            .button
            {
                display: flex;
                align-items: center;
                width: 100%;
                gap: 10px;
                margin-top: 20px;

                .github
                {
                    font-size: 25px;
                }

                button{
                    
                    background: transparent;
                    padding: 10px;
                    color: wheat;
                    border: 1px solid wheat;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }
        }

        
    }
   
}

